extends layout

block content
	link(rel="stylesheet", href="/stylesheets/fullcalendar.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
	script(src="/javascripts/fullcalendar.js")

	.container
		#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
			.carousel-inner
				.carousel-item.active
					img.d-block.w-100(src="images/slide1.jpg", alt="First slide")
				.carousel-item
					img.d-block.w-100(src="images/slide2.jpg", alt="Second slide")
		.search-card
			.search-card-msg
				h3.col-12 Find your next experience
			.search-bar
				.search-bar-component
					a.btn.btn-empty.ml-md-3(href="events/lists") BROWSE EVENTS
				.search-bar-component
					a.btn.btn-empty.ml-md-3(href="events/create") CREATE EVENTS
		.cards.col-12
			.card-header.col-12
				| Event Calendar 
				span#user-location in Eventips
			br
			#calendar

	script.
		$.ajax({
			url: "https://api.mlab.com/api/1/databases/eventips_db/collections/events?f={%22title%22:1,%22starts%22:1,%22ends%22:1,%22_id%22:0}&apiKey=lRad9en4x9bx79b9Wi6-Cn26eloZipKL",
			dataType: 'json',
			success: function(data) {
				for (let i = 0; i < data.length; i++) {
					data[i].start = data[i].starts.$date;
					data[i].end = data[i].ends.$date;
					delete data[i].starts;
					delete data[i].ends;
				}
				$(document).ready(function() {
					$('#calendar').fullCalendar({
						editable: true,
						eventLimit: true, // allow "more" link when too many events
						events: data
					});
				});
			}
		});
