doctype html
html
	head
		meta(charset="UTF-8")
		title Eventips
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
		link(rel='stylesheet', href="/stylesheets/screen.css")
		link(rel='stylesheet', href="/stylesheets/froala_blocks.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="/javascripts/addPrice.js")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")

	body
		block top-nav
			include ./includes/topnav

		if flashMessages
			each texts, type in flashMessages
				.container
					.alert.alert-dismissible.fade.show(class=`alert-${type}`)
						each msg in texts
							| #{msg} 
						button.close(type='button', data-dismiss='alert', aria-label='close')
							span(aria-hidden='true') &times;
    
		block content

		block footer
			include ./includes/footer
