extends layout

block content
	section.fdb-block(style="background-image: url(../images/bg_0.svg)")
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-7.col-xl-5.text-center
					.fdb-box.fdb-touch
						form(action='/signin', method='POST')
							.row
								.col
									h1 Log In
							.row.mt-4
								.col
									input.form-control(type="text", id="email", name="email",placeholder="Email", required, autofocus)
							.row.mt-4
								.col
									input.form-control.mb-1(type="password", id="password", name="password", placeholder="Password", required, autofocus)
									p.text-right
										a(href="#") Recover Password
							.row.mt-4
								.col
									button.btn.btn-black.btn-empty(type="submit") Sign in
