header {
  background-color: #FFFFFF; }
  header .navbar-brand {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
  }
  header .navbar-nav a.nav-link {
    color: #777; }
    header .navbar-nav a.nav-link:hover {
      color: #528bff; }
  header .navbar-nav .active a.nav-link {
    color: #444444; }
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header.bg-dark .navbar-nav a.nav-link {
    color: #dcdcdc; }
    header.bg-dark .navbar-nav a.nav-link:hover {
      color: #528bff; }
  header.bg-dark .navbar-nav .active a.nav-link {
    color: #FFFFFF; }
  header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

header + header {
  border-top: solid 1px #EEE; }
